<div class="card mat-elevation-z8">
    <div class="card__header">
        <span class="text-weight" [ngClass]="{'complete-task': task.status === 'DONE'}">
            {{task.name | titlecase}} - {{task.status === 'DONE' ? 'Completada' : 'Pendiente'}}
        </span>
        <div class="card__actions">
            <button class="btn-circle success" [ngClass]="{'pending': task.status === 'DONE'}" (click)="updateState(task.id)">
                <mat-icon>{{task.status === 'DONE' ? 'schedule' : 'check'}}</mat-icon>
            </button>
            <button class="btn-circle edit" [routerLink]="['/task',task.id]">
                <mat-icon>edit</mat-icon>
            </button>
            <button class="btn-circle show" (click)="showContent = !showContent">
                <mat-icon>visibility</mat-icon>
            </button>
        </div>
    </div>
    <div class="person-container" *ngIf="showContent">
        <p>Fecha Limite: {{task.date | date: 'dd/MM/yyyy'}}</p>
        <div class="person-content" *ngFor="let person of task.person">
            <p>Nombre: {{person.name}}</p>
            <p>Edad: {{person.age}}</p>
            <span>Habilidades: </span>
            <span> {{person.skills}}</span>
        </div>
    </div>
</div>